* {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: large;
    font-weight: bold;
}

h3 {
    font-weight: bolder;
    font-size: x-large;
    color: blue;
}

h2 {
    color: red;
}

h1 {
    color: red;
}

.title {
    font-size: 60px;
}

.utilizado {
    font-style: italic;
    font-size: larger;
}

.nutilizado {
    font-size: larger;
    font-weight: bold;
}

#css {
    font-size: larger;
}

#perguntas {
    font-size: x-large;
}

#intro {
    font-size: large;
}

.nav-link:link {
    color: blue;
}

.nav-link:visited {
    color: gray;
}

.nav-link:hover {
    color: green;
}

.nav-link:active {
    color: red;
}

p::first-letter {
    font-size: smaller;
}

.rodape::before {
    content: 😀;
}

nav::first-letter {
    font-size: medium;
}

h3~p {
    font-size: large;
}

section>p {
    font-size: larger;
}

main label {
    font-weight: bold;
}

#um {
    background-color: lightsalmon;
}

#dois {
    background-color: lightcoral;
}

#tres {
    background-color: lightblue;
}

h2~p::first-letter {
    font-weight: bolder;
}

[title~="buenos"] {
    border: 5px solid lightblue;
}

.nav-link:hover::before {
    content: "😀";
}

.nav-link:hover::after {
    content: "😀";
}

tr:nth-child(odd) {
    background-color: lightpink;
}

tr:nth-child(even) {
    background-color: lightblue;
}

.poema {
    font-size: xx-large;
    text-align: center;
}

.poeta {
    font-size: large;
    text-align: center;
}

.poemaTexto {
    font-size: smaller;
    font-style: italic;
    text-align: center;
}